<div class="container d-none d-sm-none d-md-block">
            <div class="my-5 mx-auto">
                <div class="card shadow bg-light">
                    <div class="col-md-11 mx-auto">
                        <h1 class="mt-3 text-center text-decoration-underline">Dealership Details</h1>
                        <hr />
                        <div class="card px-5 py-5 mx-5 my-5 shadow">
                            <div class="row my-5">
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Dealer Name</h3>
                                        <h5 class="fw-light">{{dealership.dealerName}}</h5>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Dealer Id</h3>
                                        <h5 class="fw-light">{{dealership.dealerId}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Address</h3>
                                        <h5 class="fw-light">{{dealership.address}}</h5>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Zip Code</h3>
                                        <h5 class="fw-light">{{dealership.zip}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">State</h3>
                                        <h5 class="fw-light">{{dealership.state}}</h5>
                                    </div>
                                </div>
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Phone Number</h3>
                                        <h5 class="fw-light">{{dealership.phone}}</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div class="col text-center">
                                    <div class="form-outline">
                                        <h3 class="text-decoration-underline">Email</h3>
                                        <h5 class="fw-light">{{dealership.email}}</h5>
                                    </div>
                                </div>
                                <div class="col"></div>
                            </div>
                            <div class="mt-5">
                            </div>
                            <hr class="my-5"/>
                            <div class="card bg-light shadow">
                                <div class="row my-5">
                                    <div class="col-md-6 px-5">
                                        <div class="form-outline">
                                            <h3 class="text-decoration-underline">Customers</h3>
                                            <ol>
                                                <li *ngFor="let customer of customers">
                                                    <a [routerLink]="['/customers', customer.customerId]">{{customer.firstName}} {{customer.lastName}}</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div class="col-md-6 px-5">
                                        <div class="form-outline">
                                            <h3 class="text-decoration-underline">Employees</h3>
                                            <ol>
                                                <li *ngFor="let employee of employees">
                                                    <a [routerLink]="['/employees', employee.employeeId]">{{employee.firstName}} {{employee.lastName}}</a>
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row my-5">
                                    <div class="col px-5">
                                        <div class="form-outline">
                                            <h3 class="text-decoration-underline">Customer Services</h3>
                                            <ol>
                                                <li *ngFor="let customerService of customerServices">
                                                    {{customerService.serviceName}}
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-5">
                                <button class="btn btn-dark" routerLink="/dealers">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>