
<section class="hero-banner">
    <div class="section flex-display">
        <h1 class="text-center hero-title-text text-decoration-underline">Dealer Services Manager</h1>
        <h4 class="hero-small-text d-xl-block d-none">Keeping track of bugs and projects, all in one place.</h4>
    </div>
</section>
<div class="container my-5 text-center">
    <button routerLink="dealers" type="button" class="mx-1 btn btn-sm btn-secondary">Dealerships</button>
    <button routerLink="customers" class="mx-1 btn btn-sm btn-secondary">Customers</button>
    <button routerLink="employees" class="mx-1 btn btn-sm btn-secondary">Employees</button>
    <button routerLink="services" class="mx-1 btn btn-sm btn-secondary">Services</button>
    <button routerLink="customerservices" class="mx-1 btn btn-sm btn-secondary">Customer Services</button>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>  